body {
    background-color: rgb(28, 28, 28);
    margin: 0;
}
html, body { 
    scroll-behavior: smooth
}
::selection {
    color: #CE0000;
    background-color: rgb(28, 28, 28);
}
#Header {
    border-bottom: 0.1em solid rgb(35, 35, 35);
    position: relative;
    z-index: 10;
}
#Nav_Section {
    margin: 0.5em 0.5em 0;
    display: flex;
    justify-content: space-between;
}
#Logo_Name {
    font-size: 3em;
    color: white;
    font-family: 'Kalam', cursive;
    cursor: pointer;
}
#Logo_Name img {
    width: 1.1em;
    height: 1.1em;
    margin: 0.2em 0.5em 0.4em;
}
#Logo_Name p {
    display: inline-block;
    margin: 0;
}
#Logo_Name a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
#Search_Account {
    display: flex;
    align-items: center;
}
#Search_Box {
    width: 19em;
    height: 2.5em;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    border: 0.14em solid rgb(136, 136, 136);
    background-color: rgba(46, 46, 46, 0);
    border-radius: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: 0.1em;
}
#Search_Box:focus {
    outline: none;
    background-color: rgb(35, 35, 35);
    border-color: white;
    box-shadow: 0 0 1em 0.6em rgb(40, 40, 40);
}
#Account {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border-width: 0;
    margin-left: 4em;
    margin-right: 4em;
}
#Main_Section{
    display:flex;
}
#Sidebar{
    min-width:20%;
    font-family: 'Noto Sans', sans-serif;;
    border-right: 0.1em solid rgb(35, 35, 35);
    height:100vh;
    white-space: nowrap;
    overflow: hidden;
    overflow-y:scroll;
    overflow-x:hidden;
    scrollbar-width: 0;
    scroll-behavior: smooth;
    position: sticky;
    top:0px;
}
::-webkit-scrollbar {
    width: 0px;  
    display: none;
}
ul {
    list-style: none;
    padding:2.5em;
}
#Sidebar .Movies_Categories{
    font-size: 2.25em;
    color: white;
    margin-top: 0.5em;
}
#Sidebar .Movies_Categories:nth-child(1){
    margin-top: 0.1em;
}
#Sidebar .Movies_Categories_List li{
    display: block;
    font-size: 1.5em;
    margin:0.5em;
    color: rgb(155, 154, 154);
    width: fit-content;
}
#Sidebar .Movies_Categories_List li:hover{
    color:white; 
    cursor: pointer;
    text-shadow: 0 0 0.5em rgb(174, 174, 174);
}
#Movies_Section{
    width:80%;
    position: relative;
}
#Movie_Video_Image{
    width:100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
#Movie_Video_Image video{
    position: relative;
    top:-2em;
}
#Movie_Video_Image div{
    position: relative;
    top:-2rem;
}
#Movie_Video_Image div img{
    width:100%;
    height: 100%;
}
#p{
    content: "";
    width:100%;
    height: 22em;
    margin:0;
    position: absolute;
    z-index: 2;
    bottom:0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(28, 28, 28,0), rgba(28, 28, 28,1) 70%);
}
#Info_Movie{
    color:white;
    position: absolute !important;
    top:0 !important;
    font-size:1vw;
    z-index:5;
    text-shadow: 0 0 0.3em rgb(28, 28, 28) , 0 0 0.3em rgb(28, 28, 28) , 0 0 0.3em rgb(28, 28, 28) ; 
}
#Info_Movie p{
    display: inline-block;
}
#Title{
    font-size: 4vw;
    font-weight: 600;
    padding: 0 0 0 1em;
    margin:1em 0em 0.9em ;
    max-width: 75vw ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
#Movie_Extra_Info{
    margin:1em 3em 0em 3em;
    font-size: 150%;
}
#Movie_Extra_Info p{
    display:inline-block;
    padding:0 0.8em ;
    margin: 0;
    border-left: 2px solid rgb(233, 233, 233);
}
#Movie_Extra_Info p:nth-child(1){
    border-left: 0;
    padding-left: 0;
}
#Description{
    display: block;
    margin:0em 3em 1em;
    max-width:50%;
    max-height: 8em;
    font-size: 150%;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y:scroll;
    overflow-x:hidden;
    scrollbar-width: 0;
    scroll-behavior: smooth;
}
#WatchNow{
    display: flex;
    align-items: center;
    font-size: 1.6em;
    color: white;
    background-color: #CE0000;
    margin:1em 4em 1em;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    border-width: 0;
    transition:0.3s ease-out;
}
#WatchNow:hover{
    cursor:pointer;
    box-shadow: 0 0 0.3em 0.1em rgb(28, 28, 28);
    transform: scale(1.03);
}
#WatchNow img{
    width:1.6em !important;
    height: 1.6em !important;
    padding-right: 0.3em;
}
.Movies_Showcase{
    font-size: 2.3vw;
    margin:2em 1em;
}
.Movies_Showcase p{
    color: white;
    letter-spacing: 0.1em;
    margin:0.5em;
}
.Movies_List{
    display: flex;
    border: 0.1em solid rgb(35, 35, 35);
    background-color: rgb(19, 19, 19);
    border-radius: 1em;
    max-height: 10em;
    white-space: nowrap;
    overflow: hidden;
    overflow-x:scroll;
    overflow-y:hidden;
    scrollbar-width: 0em;
    scroll-behavior:smooth;
    overscroll-behavior: contain;
    padding: 0em;
}
.Movies_List img{
    width:7em;
    height:9em;
    border-radius: 0.7em;
    margin: 0.5em;
    margin-right: 0;
    transition: 0.25s ease-out;
}
.Movies_List img:hover{
    transform: scale(1.03);
}
#ResultArea{
    display: block;
    position: absolute;
    top:0em;
    right:0em;
    z-index: 10;
    width: 100%;
    height:0%;
    background-color: rgb(28, 28, 28);
    transition: 1.5s ease-in-out;
}
#ResultArea img{
    width:10em;
    height:15em;
    border-radius: 0.7em;
    margin: 0.5em;
    margin-right: 0;
    transition: 0.25s ease-out;
    
}
#ResultArea img:hover{
    transform: scale(1.03);
}





@media screen and (min-width: 1900px) {
    #Sidebar{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 1300px) {
    #Sidebar{
        width:10%;
        font-size: 0.7em;
    }
    #p{
        height:15em;
    }
    .Movies_Showcase{
        font-size: 3vw;
}
@media screen and (max-width: 1000px) {
    #Account{
        margin:0 1.1em 0 1.5em;
    }
    #Sidebar{ 
        display: none; 
    }
    #Movies_Section{
        width:100%;
    }
    #Movie_Extra_Info{
        margin-top:2em; 
    } 
}
@media screen and (max-width: 700px) {
    #Account{
        display: none;
    }
    #Search_Box{
        display: none;
    }
    #Movie_Video_Image div{
        top:0em;
    }
    #Movie_Extra_Info{
        margin:0em 3em 1.5em;
    }
    .Movies_List{
        max-height: 20em;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 600px) {
    #Header{
        font-size: 2.6vw;
    }
    #p{
        height: 28vh;
    }
    
}